{% extends "base.html" %} {% block content %} {% if request.user.is_authenticated %} {% for message in messages %}
<div>
    <span class="color-gray">[{{ message.created_at }}]</span> {{ message.author.first_name }}: <i>{{ message.text }} </i>
</div>
{% endfor %}



<form action="/chat/" method="post">
    {% csrf_token %}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" name="textmessage" type="text" id="sample3">
        <label class="mdl-textfield__label" for="sample3">Text...</label>
    </div>


    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    Send
                  </button>

</form>

{% else %}
<h1>Nicht eingeloggt</h1>
<p>
    Du bist aktuell nicht eingeloggt. Bitte logge dich ein.<br> Bitte klicke <a href="/login/">hier</a>.
</p>

{% endif %} {% endblock %}